In [1]:
# Task1 :	Write a python code to load an excel spreadsheet containing two different sheets and print both of them.

import pandas as pd

# Loading Excel file
excel_file = pd.ExcelFile('Book11.xlsx')

# Print names of the sheets
print(excel_file.sheet_names)

# Load and print both sheets
sheet1 = excel_file.parse(excel_file.sheet_names[0])
sheet2 = excel_file.parse(excel_file.sheet_names[1])
print(sheet1)
print(sheet2)

['Sheet1', 'Sheet2']
     Name  AGE    STREAM  PERCENTAGE
0     ali   30      Math          30
1  Hammad   18   Science          47
2   Abrar   23  Commerce          50
3  Fatima   12      Math          80
4   Arham   23   Science          40
    Name1  AGE1  STREAM1  PERCENTAGE1
0   Mahad    30     Math           30
1   Komal    37  Science           47
2   Abrar    23  physics           50
3   Yunis    14     Math           80
4  Khawar    34  Science           23

In [6]:
# Task2 :Write a python cade to generate a pandas data frame having 4 columns and 5 rows. Column 1 must contain the index values like Ali, Amir, Kamran, etc and Row 1 must contain the subject names.

import pandas as pd

#DataFrame
data = {
    'Maths': [32, 34, 79, 49, 10], 
    'SRE': [50, 70, 90, 80, 40],     
    'ITC': [56, 45, 56, 67, 0],       
    'Programming': [45, 56, 23, 34, 90]      
}
index = ['Hammad Mustafa', 'Ali', 'Mahad', 'Azhar', 'Arsal']  
df = pd.DataFrame(data, index=index)
print(df)

                Maths  SRE  ITC  Programming
Hammad Mustafa     32   50   56           45
Ali                34   70   45           56
Mahad              79   90   56           23
Azhar              49   80   67           34
Arsal              10   40    0           90

In [3]:
# Task3.	Write a python code to read an excel spreadsheet and only print first two columns using pandas data frame.

import pandas as pd
df = pd.read_excel('Book11.xlsx', usecols=[0, 1]) 
print(df)

     Name  AGE
0     ali   30
1  Hammad   18
2   Abrar   23
3  Fatima   12
4   Arham   23

In [8]:
# Task4 :	Write a python code to skip the first two rows of excel spreadsheet and print the output using pandas data frame.

import pandas as pd
df = pd.read_excel('Book11.xlsx', skiprows=2)
print(df)

   Hammad  18   Science  47
0   Abrar  23  Commerce  50
1  Fatima  12      Math  80
2   Arham  23   Science  40

In [20]:
# 5.	Write a python code to fill all the null values in Gender column of employees.csv with “No Gender”. Print the first 10 to 30 rows of the data frame for visualization. 
import pandas as pd

df = pd.read_csv('employeees1.csv')

# FillING null values in the 'Gender' column with 'No Gender'
df['Gender'] = df['Gender'].fillna('No Gender')

# Print rows 10 to 30
print(df[10:30])

      Name  Age     Gender   Salary
10   Ahmed   35       Male  65000.0
11  Hammad   21       Male  23400.0
12  Fatima   12  No Gender      NaN

In [22]:
# Task6:	Write a python code to scale the values of features (Age and Salary) using Min-Max Normalization technique. Verify your answers by applying the formula mentioned above.

import pandas as pd
from sklearn import preprocessing

# Sample DataFrame
data = {'AGE': [30, 12, 13, 34], 'SALARY': [32, 34, 79, 49]}
df = pd.DataFrame(data)

# Min-Max scaling
df[['AGE', 'SALARY']] = preprocessing.MinMaxScaler().fit_transform(df[['AGE', 'SALARY']])
print(df)

        AGE    SALARY
0  0.818182  0.000000
1  0.000000  0.042553
2  0.045455  1.000000
3  1.000000  0.361702

In [24]:
# Task 7. Write a python code to scale the values of features (Age and Salary) using Standardization technique. Verify your answers by applying the formula mentioned above.
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Sample DataFrame
data = {
    'Age': [25, 36, 30, 27, 38, 42, 34],
    'Salary': [42000, 50000, 45000, 43000, 51000, 62000, 48000]
}
df = pd.DataFrame(data)

# Standardization
scaler = StandardScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

print(df)

        Age    Salary
0 -1.436721 -1.070396
1  0.504113  0.204969
2 -0.554524 -0.592134
3 -1.083842 -0.910975
4  0.856992  0.364390
5  1.562749  2.118017
6  0.151234 -0.113872

In [32]:
import pandas as pd
import numpy as np

data = {
    'First Score': [100, 90, np.nan, 95],
    'Second Score': [30, 45, 56, np.nan],
    'Third Score': [np.nan, 40, 80, 98]
}

# Step 1: Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Step 2: Apply backward interpolation
df_interpolated = df.interpolate(method='backfill')

print(df_interpolated)

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

C:\Users\Hammadii\AppData\Local\Temp\ipykernel_3304\1341717868.py:15: FutureWarning: DataFrame.interpolate with method=backfill is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_interpolated = df.interpolate(method='backfill')